*/*.label, .button,.text-field, .password-field*/
{
    -fx-font-size: 18;
}

.table-column {
    -fx-alignment: center;
}

.column-0 {
    -fx-alignment: center-left;
}

.obligatory-field
{
    -fx-border-color: darkorange;
}

.pib-field {
    -fx-font-size: 24;
}

.validity-text-field {
    -fx-text-overrun: word-ellipsis;
    -fx-wrap-text: true;
}
